{% include base_path %}

{% if post.teaser %}
  {% capture teaser %}{{ post.teaser }}{% endcapture %}
{% elsif post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item pub-entry" itemscope itemtype="http://schema.org/CreativeWork">
    {% if teaser %}
      <div class="pub-entry__img">
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">
          <img src=
            {% if teaser contains "://" %}
              "{{ teaser }}"
            {% else %}
              "{{ teaser | prepend: '/images/' | prepend: base_path }}"
            {% endif %}
            alt="{{ title }}">
        </a>
      </div>
    {% endif %}
    <div class="pub-entry__text">
      <h2 class="pub-entry__title" itemprop="headline">
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      </h2>
      {% if post.excerpt %}
        <p class="pub-entry__authors">{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
      {% endif %}
      {% if post.collection == 'publications' and post.venue %}
        <p class="pub-entry__venue"><i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
      {% elsif post.collection == 'teaching' %}
        <p class="pub-entry__venue">{{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
      {% endif %}
      <div class="pub-entry__links">
        {% if post.pageurl %}
          <a href="{{ post.pageurl }}" class="pub-btn"><i class="fa fa-globe" aria-hidden="true"></i> Project Page</a>
        {% endif %}
        {% if post.paperurl %}
          <a href="{{ post.paperurl }}" class="pub-btn"><i class="ai ai-arxiv" aria-hidden="true"></i> arXiv</a>
        {% endif %}
        {% if post.codeurl %}
          <a href="{{ post.codeurl }}" class="pub-btn"><i class="fab fa-github" aria-hidden="true"></i> Code</a>
        {% endif %}
        {% if post.slidesurl %}
          <a href="{{ post.slidesurl }}" class="pub-btn"><i class="fa fa-file-powerpoint" aria-hidden="true"></i> Slides</a>
        {% endif %}
      </div>
    </div>
  </article>
</div>
